* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  ;
}

/* App */
.App {
  display: flexbox;
}

.diagnosis-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}