* {
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.App {
  display: flexbox;
}

.background{
  position: fixed;
  top: 20rem;
  left: 50rem;
  opacity: 0.3;
}


.diagnosis {
  display: flex;
  justify-content: center;
  margin-top: 12em;
  align-items: center;
}
