.add-symptom-button {
  color: rgb(80, 175, 80);
  align-self: center;
}

.add-symptom-button:hover {
  color: green;
}

.symptoms-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}
