/* symptom items */
.symptom-form {
  display: flex;
  flex-direction: column;
}

.symptom-container {
  position: absolute;
  right:2rem;
  width: 50%;

}

.symptom-item {
  margin: 0.5rem;
  text-align: center;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 5rem;
  width:100%;
  font-size: large;
  border: black solid;
  overflow: hidden
}

.symptom-item label {
  margin: 0.5rem;
  width:33%;
  height: 60%;
}

.symptom-item label select {
  margin-left: 0.5rem;
  width: 70%;
  font-size: large;
  text-align: center;
}

.delete-symptom-button {
  color: rgb(189, 131, 131);
  position: relative;
  align-self: flex-end;
}

.delete-symptom-button :hover {
  color: red;
}

.diagnosis-button :hover {
  background-color:blue;
}

#form {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;

  margin-top: 3em;
}
