.diagnosis-button {
  background-color: rgba(32, 178, 170);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: fixed;
  bottom: 10px;
  left:650px;
  width:650px;

}

.diagnosis-button:hover{
  background-color:#008cba;
  color:white
}

.gender-select {
z-index: 999999;
position: fixed;
left: 15rem;
top: 57rem;
}





