.symptom-container {
  position: absolute;
  right:2rem;
  width: 50%;
}

.symptom-container .card {
  margin-bottom: 2rem;
  border:rgba(0, 0, 0, 0.295) solid;
  height: 150px;
  transition: box-shadow .3s;
  border-radius: 20px;
  font-size: larger;
}

.symptom-container .card:hover {
  box-shadow: 0 0 11px black; 
}

.symptom-container .card .card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.symptom-container .card .card-body label {
  width: 33%;
}

.symptom-container select{
  width: 75%;
}


.delete-symptom-button {
  margin-top: auto;
}